.container {
  height: 100px;
}
.displayBtn {
  display: none;
}
.linkColor {
  color: #d1d1d3 !important;
}
.logo {
  cursor: pointer;
}
@media (max-width: 1199px) {
  .displayBtn {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .logo {
    width: 200px;
  }
  .container {
    height: 80px;
  }
}
@media (max-width: 991px) {
  .remove {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 150px;
  }
  .container {
    height: 60px;
  }
}
@media (max-width: 300px) {
  .logo {
    width: 100px;
  }
  .container {
    height: 60px;
  }
}
.active {
  color: #dba83d !important;
  position: relative;
}
.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid#dba83d;
}
.miniNav {
  height: 100vh;
}
